<a href="https://colab.research.google.com/github/Han-Ji-Min01/Assignment-of-Python1/blob/master/Assignment_of_Python1__3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/TopSellingAlbums.csv')

In [4]:
df

            Artist                            Album  ...  Soundtrack Rating
0  Michael Jackson                         Thriller  ...         NaN   10.0
1            AC/DC                    Back in Black  ...         NaN    9.5
2       Pink Floyd        The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston                    The Bodyguard  ...           Y    8.5
4        Meat Loaf                  Bat Out of Hell  ...         NaN    8.0
5           Eagles  Their Greatest Hits (1971-1975)  ...         NaN    7.5
6         Bee Gees             Saturday Night Fever  ...           Y    7.0
7    Fleetwood Mac                          Rumours  ...         NaN    6.5

[8 rows x 10 columns]

In [5]:
#2
df.iloc[0,1]

'Thriller'

In [6]:
df.iloc[0,0]

'Michael Jackson'

In [10]:
df.loc[1,'Artist']

'AC/DC'

In [11]:
df.loc[0:3, 'Length']

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
Name: Length, dtype: object

In [13]:
df.iloc[0:4, 3:5]

    Length             Genre
0  0:42:19    pop, rock, R&B
1  0:42:11         hard rock
2  0:42:49  progressive rock
3  0:57:44    R&B, soul, pop

In [0]:
df_1=df.loc[0:4,'Length'] + df.loc[0:4, 'Artist']

In [15]:
df_1

0    0:42:19Michael Jackson
1              0:42:11AC/DC
2         0:42:49Pink Floyd
3    0:57:44Whitney Houston
4          0:46:33Meat Loaf
dtype: object

In [0]:
#3
filter1 =  df["Released"] > 1979
filter2 = df["Music Recording Sales (millions)"] > 24.0

In [30]:
df_11= df.where(filter1 & filter2)
df_11

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller    1982.0  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black    1980.0  ...  25-Jul-80        NaN     9.5
2              NaN            NaN       NaN  ...        NaN        NaN     NaN
3  Whitney Houston  The Bodyguard    1992.0  ...  17-Nov-92          Y     8.5
4              NaN            NaN       NaN  ...        NaN        NaN     NaN
5              NaN            NaN       NaN  ...        NaN        NaN     NaN
6              NaN            NaN       NaN  ...        NaN        NaN     NaN
7              NaN            NaN       NaN  ...        NaN        NaN     NaN

[8 rows x 10 columns]

In [149]:
c=0
a=[]
df_11.iloc[0,0]=str(df_11.iloc[0,0])
while c<=7:
  if len(df_11.iloc[c,0]) == 3:
    print(df_11.iloc[c,0])
    a.append(c)
  df_11.iloc[c,0]=str(df_11.iloc[c,0])
  c=c+1

nan
nan
nan
nan
nan

In [150]:
a

[2, 4, 5, 6, 7]

In [85]:
df1= df_11.drop(a)
df1

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller    1982.0  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black    1980.0  ...  25-Jul-80        NaN     9.5
3  Whitney Houston  The Bodyguard    1992.0  ...  17-Nov-92          Y     8.5

[3 rows x 10 columns]

In [151]:
#4

dfl1=df1.iloc[0,4]
df_l1= dfl1.split(',')
T1=len(df_l1)-1
r=0
while r<= T1:
  df_l1[r] = df_l1[r].lstrip()
  r = r+1
print(df_l1)

dfl2=df1.iloc[1,4]
df_l2= dfl2.split(',')
T2=len(df_l2)-1
d=0
while d<= T2:
  df_l2[d] = df_l2[d].lstrip()
  d = d+1
print(df_l2)

dfl3=df1.iloc[2,4]
df_l3= dfl3.split(',')
T3=len(df_l3)-1
b=0
while b<= T3:
  df_l3[b] = df_l3[b].lstrip()
  b = b+1
print(df_l3)

['pop', 'rock', 'R&B']
['hard rock']
['R&B', 'soul', 'pop']

In [186]:
aa=[]

e=0
while e<= T1:
  if df_l1[e] == 'rock':
    aa.append(0)
  e=e+1

f=0
while f<= T2:
  if df_l2[f] == 'rock':
    aa.append(1)
  f=f+1

g=0
while g<= T1:
  if df_l3[g] == 'rock':
    aa.append(2)
  g=g+1
 
print(aa)

[0]

In [185]:
print(df1.iloc[aa[0]])

Artist                              Michael Jackson
Album                                      Thriller
Released                                       1982
Length                                      0:42:19
Genre                                pop, rock, R&B
Music Recording Sales (millions)                 46
Claimed Sales (millions)                         65
Released.1                                30-Nov-82
Soundtrack                                      NaN
Rating                                           10
Name: 0, dtype: object